/* here import from folder utils */
@import './utils/vars.scss';
@import './utils/mixins.scss';
@import './utils/fonts.scss';
@import './utils/reset.scss';

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.4;
  background-color: rgb(159, 221, 240);
}

.icon {
  fill: red;
}
/* here import from folder modules */
